<!--Inicio archivo navar.ejs-->

<%- include('navar.ejs') %>

<!--Fin navar.ejs-->

<!--Inicio contenido principal-->
<br />
<br />
<br />
<br />
<br />
<% if(show == "show_form"){ %>
<main class=" form-list m-auto p-5">
  <h1 class="text-center">Insertar nueva tarea</h1>
  <br />
  <form action="/nuevaTarea" method="POST">
    <div class="form-floating text-center">
      <input
        type="text"
        class="form-control"
        id="titulo"
        name="titulo"
        placeholder="Ingrese el título"
      />
      <label for="floatingPassword">Titulo</label>
    </div>
    <br />
    <div class="form-floating">
      <textarea name="detalle" class="form-control" id="detalle"></textarea>
      <label for="floatingInput">Detalle</label>
    </div>
    <br>
    <div class="form-floating">
      <input type="date" name="fecha" class="form-control" id="fecha"></input>
      <label for="floatingInput">Fecha</label>
    </div>
    <br>
    <button type="submit" class="btn btn-lg btn-success form-control">Enviar</button>
    <br />
    <br />
  </form>
</main>
<% }else if(show == "show_table"){ %>
<div class="p-5 m-3">
    <h1 class="text-center">Listado de Tareas</h1>
    <br>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < docs.length; i++){ %>
                <tr>
                    <td><%= docs[i].titulo %></td>
                    <td><%= docs[i].fecha %></td>
                    <td><%= (docs[i].estado == false) ? 'Sin Finalizar': 'Finalizada' %></td>
                    <td >
                      <a class="btn btn-danger" href="/eliminar/<%= docs[i]._id %>">Eliminar</a>
                      <a class="btn btn-warning" href="/modificar/<%= docs[i]._id %>">Modificar</a>
                      <a class="btn btn-info" href="/ver/<%= docs[i]._id %>">Ver</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% }else{ %>
<div class="p-5 m-3">
    <h1 class="text-center">Detalle de la Tarea: "<%= task._id %>"</h1>
    <ul class="list-group">
      <li class="list-group-item"><strong>Título: </strong><%= task.titulo %></li>
      <li class="list-group-item"><strong>Detalle: </strong><%= task.detalle %></li>
      <li class="list-group-item"><strong>Fecha: </strong><%= task.fecha %></li>
      <li class="list-group-item"><strong>Estado: </strong><%= task.estado %></li>
    </ul>
    <br>
    <hr>
    <br>
    <h1 class="text-center">Modificar Tarea</h1>
    <form action="/modificar" method="POST">
      <input type="hidden" name="_id" value="<%= task._id %>">
      <div class="form-floating text-center">
        <input
          type="text"
          class="form-control"
          name="titulo"
          placeholder="Ingrese el título"
          value="<%= task.titulo %>"
        />
        <label for="floatingPassword">Titulo</label>
      </div>
      <br />
      <div class="form-floating">
        <textarea name="detalle" class="form-control" ><%= task.detalle %></textarea>
        <label for="floatingInput">Detalle</label>
      </div>
      <br>
      <div class="form-floating">
        <input type="date" name="fecha" class="form-control"  value="<%= task.fecha %>"></input>
        <label for="floatingInput">Fecha</label>
      </div>
      <br>
      <button type="submit" class="btn btn-lg btn-success form-control">Enviar</button>
      <br />
      <br />
    </form>
</div>
<% } %>

<!--Fin contenido principal-->

<!--Inicio archivo navar.ejs-->

<%- include('footer.ejs') %>

<!--Fin footer.ejs-->
